body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style-type:none;
  padding: -18px;
}

li {
  font-size: 18px;
  padding: 5px 0;
}
